<div class="d-flex align-items-center">
    <div class="text-center">
        <h1>tribal wars searching tool</h1>
        <a href="{{target}}"><button type="button" class="btn btn-secondary">start</button></a>
    </div>
</div>
